/* general */

body {
	font-family: "Muli", "Helvetica Neue", Helvetica, sans-serif;
}

a {
	color: #4939ed;
}

/* nav bar */

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-default {
	background-color: black;
	border-color: transparent;
}

.navbar-brand>img {
	height: 100%;
	display: inline-block;
	vertical-align: baseline;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4939ed;
}

.navbar-default .navbar-toggle:hover {
	background-color: #4939ed;
}

/*video*/

.overlay-text {
	margin: 10%;
}

.overlay-text h2, .contentSection h2 {
	font-family: "Maven Pro", "Helvetica Neue",Helvetica, sans-serif;
	color: white;
	background-color: black;
	font-weight: 400;
	line-height: 2em;
	font-size: 2.5em;
	width: 100%;
	display: inline;
}

.overlay-text a {
	color: #4939ed;
}

.overlay-text a:hover {
	text-decoration: none;
	color: white;
}

.search-bar, .btn-sm {
	font-family: "Maven Pro", sans-serif;
}

.btn-sm {
	border-color: #4939ed;
	background-color: transparent;
	color: white;
}

.btn-default:hover, .btn-sm:hover {
	background-color: #4939ed;
	color: white;
	border-color: transparent;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.chevron-down {
	text-align: center;
	color: white;
	font-size: 1.5em;
}

/* sections */

section {
	margin: 10%;
}

section .fa {
	font-size: 1.5em;
	vertical-align: super;
}

section#features {
	padding: 3%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#features1 {
	padding-bottom: 15%;
}

.contentSection {
	margin-bottom: 5%;
}


/*media rules*/

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media screen and (min-width: 768px) {
	.navbar>.container-fluid .navbar-brand {
		margin-left: 15px;
	}
	.navbar-form {
	padding-left: 0;
	}
}

@media screen and (max-width: 768px) {

	.overlay-text {
		margin: 20% 10% 10% 10%;
	}

	.overlay-text h2, .contentSection h2 {
		font-size: 1.5em;
	}

	.navbar-left {
		float: left;
	}

	.navbar-form {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	#features1 {
		padding: 0;
	}
}

