/* general */

body {
	font-family: "Muli", "Helvetica Neue", Helvetica, sans-serif;
}

a {
	color: #4939ed;
}

a:hover {
	color: #6a5df0;
}

/* nav bar */

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-default {
	background-color: black;
	border-color: transparent;
}

.navbar-brand>img {
	height: 100%;
	display: inline-block;
	vertical-align: baseline;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4939ed;
}

.navbar-default .navbar-toggle:hover {
	background-color: #4939ed;
}

/*video*/

.overlay-text {
	margin: 10%;
}

.overlay-text h2, .contentSection h2 {
	font-family: "Maven Pro", "Helvetica Neue",Helvetica, sans-serif;
	color: white;
	background-color: black;
	font-weight: 400;
	line-height: 2em;
	font-size: 2.5em;
	width: 100%;
	display: inline;
}

.overlay-text a {
	color: #4939ed;
}

.overlay-text a:hover {
	text-decoration: none;
	color: white;
}

.search-bar, .btn-sm {
	font-family: "Maven Pro", sans-serif;
}

.btn-sm {
	border-color: #4939ed;
	background-color: transparent;
	color: white;
}

.btn-default:hover, .btn-sm:hover {
	background-color: #4939ed;
	color: white;
	border-color: transparent;
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.chevron-down {
	text-align: center;
	color: white;
	font-size: 2.5em;
}

/* sections */

section {
	margin: 10%;
}

section .fa {
	font-size: 1.5em;
	vertical-align: super;
}

section#features {
	padding: 3%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#features1 {
	padding-bottom: 15%;
}

.btn-active {
	border-color: #4939ed;
}

#signup-stylists .contentSection {
	margin-bottom: 5%;
}

.bg-box {
	padding: 3%;
	background-color: #f2f2f2;
	margin-right: 3%;
	width: 93%;

}

footer {
	background-color: black;
	color: white;
	min-height: 50px;
	padding: 18px 0;
}

footer a {
	color: white;	
}

footer a:hover {
	color: #4939ed;
	text-decoration: none;
}
 #text:hover {
 	color: white;
 }

#socialMedia .fa {
	font-size: 1.5em;
}

footer .form-control {
	font-size: 12px;
	height: 30px;
}

footer .navbar-nav>li>a:hover {
	background-color: black;
}

a#subscribeForm {
 	padding: 10px 0;
 }

#logoFooter img {
	height: 20px;
}

#copy {
	font-size: 10px;
}

#logoFooter, #copy {
	text-align: center;
}


/*media rules*/


/*video*/

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

/*narrow desktops*/

@media screen and (max-width: 989px) {
	.overlay-text {
		margin: 15% 10% 10% 5%;
	}


}

/*>iPad*/

@media screen and (min-width: 769px) {
	.navbar>.container-fluid .navbar-brand {
		margin-left: 15px;
	}
	.navbar-form {
	padding-left: 0;
	}

	#carousel-stylists {
		top: 8px;
	}

	#signup-stylists .media-body {
	display: inline-block;
	width: 80%;
	}

	footer .navbar-form {
	margin-top: 0;
	}
}


/*<=iPad*/
@media screen and (max-width: 768px) {
	.overlay-text {
		margin: 20% 10% 10% 10%;
	}
	

	.overlay-text h2, .contentSection h2 {
		font-size: 1.5em;
	}

	.navbar-left {
		float: left;
	}

	.navbar-form {
		-webkit-box-shadow: none;
		box-shadow: none;
		padding-left: 1px;
	}

	#features1 {
		padding: 0;
	}

	.contentSection {
		margin-top: 5%;
	}

	#carousel-stylists {
		top: 30px;
	}

	.fade-slow h2 {
		opacity: 0.5;

	}

	.bg-box {
		width: 95%;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}

	footer {
		font-size: 12px;
	}

	footer .navbar-nav>li>a {
		padding-bottom: 5px;
	}

	#subscribe a {
		padding-left: 0;
	}

	#menu {
		width: 20%;
		float: right;
	}

	#subscribe {
		margin-left: 4%;
	}
}

/*no greater than ipad but bigger than iphone 6spx*/

@media (max-width: 768px) and (min-width: 414px) {
	.navbar-form {
		padding-left: 15px;
	}
}

/*<=iphone 6S plus*/

@media screen and (max-width: 623px) {

	.overlay {
		padding-top: 150px;
	}

}


/*<=iPhone6S*/

@media screen and (max-width: 414px) {
	.overlay {
		padding-top: 60px;
	}
	

	.navbar-form {
		padding-left: 15px;
	}

	#carousel-stylists {
		top: 0;
	}

	#subscribe {
		margin-left: 0;
		width: 36%;
	}

	#menu {
		padding-left: 0;
		padding-right:0;
	}

	footer .form-control {
		font-size: 8px;
	}

}

/*<=iPhone5*/

@media screen and (max-width: 322px) {

	footer {
		font-size: 10px;
	}

}

